html {
    cursor: url(cursors/windows7_arrow.cur), auto;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: url(images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;
    margin: 0;
}
  
#window-titlebar {
    position: relative;
}

.title-bar-controls {
    z-index: 20;
}

.title-bar-controls * {
    cursor: url(cursors/windows7_arrow.cur), auto;
}

.window {
    position: absolute;
    z-index: 9;
    width: 500px;
    height: 300px;
    min-width: 500px;
    min-height: 300px;
    top: 10px;
    left: 10px;
}

iframe {
    margin: 0 6px 6px;
    border: 1px solid rgba(0,0,0,.7);
    width: calc(100% - 12px);
    height: calc(100% - 35px);
}
  
.window .resizers{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
}
  
.window .resizers .resizer{
    width: 30px;
    height: 30px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
}
  
.window .resizers .resizer.top-left {
    left: -15px;
    top: -15px;
    cursor: url(cursors/windows7_nwse.cur), nwse-resize;
}
.window .resizers .resizer.top-right {
    right: -15px;
    top: -15px;
    cursor: url(cursors/windows7_nesw.cur), nwse-resize;
}
.window .resizers .resizer.bottom-left {
    left: -15px;
    bottom: -15px;
    cursor: url(cursors/windows7_nesw.cur), nwse-resize;
}
.window .resizers .resizer.bottom-right {
    right: -15px;
    bottom: -15px;
    cursor: url(cursors/windows7_nwse.cur), nwse-resize;
}

.taskbar {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0;
    left: 0;
    height: 40px;
    background-color: rgba(64, 96, 167, 0.336);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2147483647;
}

.taskbar img {
    height: 40px;
    margin: 0 5px;
}

.taskbar img:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(80, 80, 80, 0.622) 10%, rgba(80, 80, 80, 0.622) 90%, rgba(2,0,36,0) 100%);   
}

.tb-icon-open {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(80, 80, 80, 0.322) 10%, rgba(80, 80, 80, 0.322) 90%, rgba(2,0,36,0) 100%);   
}

.default-window {
    display: none;
}

.windows {
    perspective: 360px;
    width: 100vw;
    height: calc(100vh - 41px);
}

.closing-window {
    animation: closeWindow 0.4s infinite;
}

@keyframes closeWindow {
    0% { transform: rotateX(0); transform-style: preserve-3d; }
    100% { transform: rotateX(3deg); transform-style: preserve-3d; opacity: 0; }
}

.minimizing-window {
    animation: minimizeWindow 0.4s infinite;
}

@keyframes minimizeWindow {
    0% { }
    100% { top: 100%; transform: scale(0.4); opacity: 0; }
}

.unminimizing-window {
    animation: unminimizeWindow 0.4s infinite;
}

@keyframes unminimizeWindow {
    0% { top: 100%; transform: scale(0.4); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.opening-window {
    animation: openWindow 0.2s infinite;
}

@keyframes openWindow {
    0% { transform: scale(0.7); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.start-menu {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 370px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px 8px 0 0;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.start-menu-apps {
    background-color: rgba(255, 255, 255, 0.753);
    width: 250px;
    height: 470px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    margin: 15px 15px;
    overflow-x: auto;
}

.start-menu-apps div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 6px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.start-menu-apps div:hover {
    border: 1px solid rgba(0,0,0,.2);
    margin: 5px;
    transform: scale(1.01);
}

.start-menu-apps div img {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.start-menu-sd {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 15px 0;
}

.start-menu-sd img {
    width: 75px;
    height: 75px;
    border: solid rgba(0,0,0,.2) 2px;
    border-radius: 5px;
}