html {
    cursor: url(cursors/windows7_arrow.cur), auto;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: url(images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;
}
  
#window-titlebar {
    position: relative;
}

.title-bar-controls {
    z-index: 20;
}

.title-bar-controls * {
    cursor: url(cursors/windows7_arrow.cur), auto;
}

.window {
    position: absolute;
    z-index: 9;
    width: 500px;
    height: 300px;
    min-width: 500px;
    min-height: 300px;
}

iframe {
    margin: 0 6px 6px;
    border: 1px solid rgba(0,0,0,.7);
    width: calc(100% - 12px);
    height: calc(100% - 35px);
}
  
.window .resizers{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
}
  
.window .resizers .resizer{
    width: 30px;
    height: 30px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
}
  
.window .resizers .resizer.top-left {
    left: -15px;
    top: -15px;
    cursor: url(cursors/windows7_nwse.cur), nwse-resize;
}
.window .resizers .resizer.top-right {
    right: -15px;
    top: -15px;
    cursor: url(cursors/windows7_nesw.cur), nwse-resize;
}
.window .resizers .resizer.bottom-left {
    left: -15px;
    bottom: -15px;
    cursor: url(cursors/windows7_nesw.cur), nwse-resize;
}
.window .resizers .resizer.bottom-right {
    right: -15px;
    bottom: -15px;
    cursor: url(cursors/windows7_nwse.cur), nwse-resize;
}

.taskbar {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0;
    left: 0;
    height: 40px;
    background-color: rgba(64, 96, 167, 0.336);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 2147483647;
}

.taskbar img {
    height: 40px;
    margin: 0 5px;
}

.taskbar img:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(80, 80, 80, 0.622) 10%, rgba(80, 80, 80, 0.622) 90%, rgba(2,0,36,0) 100%);   
}

.tb-icon-open {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(80, 80, 80, 0.322) 10%, rgba(80, 80, 80, 0.322) 90%, rgba(2,0,36,0) 100%);   
}

.default-window {
    display: none;
}