* {
    cursor: url(cursors/windows7_arrow.cur), auto;
}

input, textarea, select {
    cursor: url(cursors/windows7_select.cur), auto;
}

a {
    cursor: url(cursors/windows7_link.cur), auto;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f0f0f0;
}